.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-page h1 {
    font-size: 100px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.error-page h2 {
    font-size: 60px;
    margin: 10px;
}
.error-page img {
    width: 50%;
    border-radius: 15%;
}
.error-page a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 20px;
    width: 10%;
    height: 5%;
    color: #FFFFFF;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .error-page a {
        width: 20%;
        margin-top: 10%;
    }
}
@media screen and (max-width: 545px) {
    .error-page h1 {
        font-size: 100px;
        margin-top: 35%;
    }
    .error-page h2 {
        font-size: 30px;
    }
}